*.a
*.la
*.o
*.lo
.deps
.libs
*.so
Makefile
Makefile.in
*.moc.*
/autom4*
/aclocal.m4
/ar-lib
/config.guess
/config.sub
/configure
/compile
/depcomp
/install-sh
/ltmain.sh
/missing
/m4/lt*.m4
/m4/libtool.m4
